<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
	<img class="banner" src="/images/zombie-dice.jpg" />
  <h2 class="instrucciones__title">Instrucciones</h2>
  <p class="instrucciones__text">
  	Tú eres un zombie hambriento en busca de cerebros, las reglas son simples: 
  </p>
  <ul class="instrucciones__list">
  		<li>Ganas si llegas a cinco cerebros</li>
  		<li>Pierdes si tu resistencia llega a cero (empiezas con 3 puntos)</li>
  		<li>Tu resistencia baja en un punto cada vez que te toca una bala, ¡ten cuidado!</li>
  	</ul>
	<a href='/juego' class="empezar">Empezar juego</a>
	
</body>

</html>

